body{
    margin: 20px 20px;
    background: rgb(80, 79, 79);
    color: blanchedalmond;
}

.excel{
    padding: 20px;
    width: 90%;
    height: 1000px;
}

header{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: flex-end;
}

.headimg{
    height: 10vh;
}

h1{
    word-spacing: 1em;
    letter-spacing: 0.5em;
    text-decoration: underline;
}
