body {margin:25px;
    background-image: linear-gradient(35deg, #7f4eb8, rgb(77, 13, 13));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    padding: 25px;
    text-align: center;
}

h2{
    text-decoration: underline;
}



.leaderboard{
  display: grid;
  column-gap: 20px;
  padding: 0px, 30px, 30px, 30px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.leadName{
  text-align: center;
}


div.polaroid {
  width: 20em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  justify-self: center;
}

div.polaroid:hover{
    box-shadow: 0px 10px 20px 0px;
    cursor: pointer;
}

div.container {
  text-align: center;
  padding: 10px 20px;
  color: black;
}

.postcards{
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: space-evenly;
}

.foot{
display: grid;
justify-self: center;
}

div.polaroid2 {
    width: 15em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    justify-self: center;
  }

  div.container2 {
    text-align: center;
    padding: 5px 10px;
    color: black;
  }
